<template>
    <header>
      <div class="header-title">
        <h1 class="title">
          <router-link :to="{ name: 'recipes' }">{{ title }}</router-link>
        </h1>
      </div>
      <div class="nav-container">
        <div class="spacer"></div>
        <nav>
          <div class="nav-item"
               v-for="linkItem in tabItems"
               :linkItem="linkItem"
               :key="linkItem.label">
            <router-link class="navlink"
                         :to="linkItem.to">{{ linkItem.label }}</router-link>

          </div>
        </nav>
        
        <auth-status class="auth-status"></auth-status>
        
      </div>
    </header>
</template>

<script>
import authStatus from './auth-status';

export default {
  name: 'app-header',
  props: ['title'],
  components: { 'auth-status': authStatus },
  data() {
    return {
      tabItems: [
        { label: 'Recipes', to: { name: 'recipes' } },
        { label: 'Pantry', to: { name: 'pantry' } },
      ]
    };
  }
};
</script>

<style scoped>
header{
  width: 100%;
}

.header-title{
  margin: 0 auto;
  text-align: center;
  color: rgb(68, 68, 68);
}

.title{
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  font-size: 4rem;
  line-height: 4rem;

  margin: 0;
  padding: 1rem 0
}

.title a{
  color: inherit;
  text-decoration: none;
  outline: none;
}

.nav-container{
  border-top: 3px double rgb(200, 200, 200);
  border-bottom: 3px double rgb(200, 200, 200);
  padding: 0 1rem 0 1rem;

  display: flex;
  justify-content: space-between;
  align-content: stretch;
}

.spacer, nav, .auth-status {
  width: 100%;
}

nav{
  display: flex;
  justify-content: center;
}

.nav-item{
  line-height: 1em;
  margin: 0.5rem 0;
}

.nav-item::after{
  content: "|";
  margin: 0.5rem 1rem;
}

.nav-item:last-child::after{
  content: "";
}

.navlink{
  color: rgb(68, 68, 68);
}
.navlink.active{
  /*text-decoration: underline;*/
}

.auth-status{

  text-align: right;
}
</style>
