<template>
  <div>
    <span class="auth-status__links" v-if="!loggedIn">
      <a class="auth-status__link"
         @click.prevent="login()">
        <i class="material-icons auth-status__icon auth-status__icon--out">person</i>
      </a>

      <a class="auth-status__link auth-status__text"
         @click.prevent="login()">Login</a>
      <span class="auth-status__text">/</span>
      <a class="auth-status__link auth-status__text"
         @click.prevent="login()">Sign-Up</a>
    </span>
    <span class="auth-status__links" v-if="loggedIn">
      <a :title="username">
        <i class="material-icons auth-status__icon auth-status__icon--in">
          person
        </i>
      </a>
      <a class="auth-status__name auth-status__text">{{ username }}</a>
    </span>
  </div>
</template>

<style scoped>
.auth-status__icon {
  font-size: 1rem;
  line-height: 1.75rem;
}

.auth-status__icon--in {
  color: #28a745;
}

.auth-status__icon--out {
  color: #6c757d;
}

@media only screen and (max-width : 480px) {
  .auth-status__text {
    display: none;
  }
}
</style>

<script>
import firebase from 'firebase';
import { firebaseConfig } from '../lib/config';
import { SET_ACCESS_TOKEN, FETCH_PANTRY, FETCH_FAVOURITES } from '../store';

export default {
  name: 'auth-status',
  props: ['title'],
  created() {
    if (!firebase.apps.length) {
      firebase.initializeApp(firebaseConfig);
    }
    firebase.auth().onAuthStateChanged(this.changeAuthState);
  },
  computed: {
    accessToken() {
      return this.$store.getters.accessToken;
    },
    loggedIn() {
      return this.$store.getters.isLoggedIn;
    },
    username() {
      return this.$store.getters.username;
    }
  },
  data() {
    return {
      timeoutId: null
    };
  },
  methods: {
    changeAuthState(user) {
      if (user) {
        user.getIdToken().then((accessToken) => {
          this.$store.commit(SET_ACCESS_TOKEN, accessToken);
          this.$store.dispatch(FETCH_PANTRY);
          this.$store.dispatch(FETCH_FAVOURITES);
        });
      } else {
        this.$store.commit(SET_ACCESS_TOKEN, null);
      }
    },
    login() {
      let provider = new firebase.auth.GoogleAuthProvider();
      firebase.auth().signInWithPopup(provider).then().catch((error) => {
        let errorMessage = error.message;
        console.log('Error signing in.', errorMessage);
      });
    }
  }
};
</script>
