<template>
    <div class="breadcrumbs">
        <nav class="breadcrumbs__nav">
          <div class="breadcrumbs__crumb"
               v-for="linkItem in breadcrumbs()"
               :linkItem="linkItem"
               :key="linkItem[0]">
            <router-link class="breadcrumbs__link"
                         :to="linkItem[1]">{{ linkItem[0] }}</router-link>

          </div>
        </nav>
      </div>
</template>

<script>
export default {
  name: 'breadcrumbs',
  methods: {
    breadcrumbs() {
      let links = [];
      let bc = this.$route.meta.breadcrumbs;
      if (!bc) {
        return [];
      }

      for (let i = 0; i < bc.length; i++) {
        let linkItem = bc[i];
        if ({}.toString.call(linkItem) === '[object Function]') {
          linkItem = linkItem(this.$route);
        }
        links.push(linkItem);
      }
      return links;
    }
  }
};
</script>

<style scoped>

.breadcrumbs{
  display: flex;
  justify-content: space-between;
  font-size: 0.75rem;
}

.breadcrumbs__nav{
  /*margin-left: 1rem;*/
  display: flex;
}

.breadcrumbs__crumb{
  line-height: 1em;
  margin: 0.5rem 0;
}

.breadcrumbs__crumb::after{
  content: "›";
  margin: 0.5rem 1rem;
}

.breadcrumbs__crumb:last-child::after{
  content: "";
}

.breadcrumbs__link, .breadcrumbs__crumb {
  color: #9EA0A3;
}

.breadcrumbs__link:last-child{
  color: #9EA0A3;
}

</style>
