<template>
    <div class="pantryselect">
      <h2 class="pantryselect__title">Pantry Items</h2>
      <div class="pantryselect__list">
        <div class="pantryselect__list-item controls">
          <multiselect class="pantryselect__select"
                       v-model="pantryItems"
                       :options="ingredientOptions"
                       :multiple="true"
                       :searchable="true"
                       :close-on-select="false"
                       deselectLabel=""
                       selectLabel=""
                       placeholder="Pantry Items..."
                       @input="change">
          </multiselect>
        </div>
      </div>
    </div>
</template>

<script>
import {
  FETCH_INGREDIENTS,
  INGREDIENT_OPTIONS,
  PANTRY_ITEMS,
  FETCH_PANTRY,
  SAVE_PANTRY
} from '../store';

export default {
  name: 'pantry-select',

  created() {
    this.$store.dispatch(FETCH_INGREDIENTS);
  },
  mounted() {
    this.$store.dispatch(FETCH_PANTRY).then(() => {
      this.prevPantry = this.$store.state[PANTRY_ITEMS];
    });
  },
  data() {
    return {
      prevPantry: null
    };
  },
  computed: {
    pantryItems: {
      get() {
        return this.$store.state[PANTRY_ITEMS];
      },
      set(pantryItems) {
        this.$store.dispatch(SAVE_PANTRY, pantryItems);
      }
    },
    ingredientOptions() {
      return this.$store.getters[INGREDIENT_OPTIONS];
    }
  },

  methods: {
    change() {
      if (this.prevPantry !== this.$store.state.pantryItems) {
        this.$emit('changed');
        this.prevPantry = this.$store.state.pantryItems;
      }
    },
  }
};
</script>

// Not scoped so it will target the multiselect widget inner pieces
<style>
.pantryselect__list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pantryselect__list-item{
  background-color: #FFFFFF;
  width: 100%;
  max-width: 800px;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(180, 180, 180, 0.5);
}

.pantryselect__title{
  margin: 1rem 0 0.5rem 1rem;
}


.multiselect__tags{
  font-family: "Raleway", sans-serif;

  border: 1px solid #a8a8a8;
}

.multiselect__single{
  padding-top: 0.25rem;
  font-size: 1rem;
  /*line-height: 1rem;*/
  color: #9EA0A3;
}

.multiselect__select{
  line-height: 1rem;
}

.multiselect__tag{
  font-family: "Raleway", sans-serif;
  background-color: rgb(92, 92, 92);
}

.multiselect__tag-icon::after{
  color: rgb(192, 192, 192);
}

.multiselect__tags-wrap{
  line-height: 1rem;
}

.multiselect__content-wrapper{
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
</style>
