<template>
  <div class="pantry">
    <h1>Ingredients</h1>
    <div class="pantry__parent"
         v-for="parentIng in ingredients"
         :parentIng="parentIng"
         :key="parentIng.ingredientName"
         :index="parentIng.ingredientName">
      <div class="pantry__parent">
        <label class="pantry-checkbox">
          <input class="pantry-checkbox__input" type="checkbox" :value="parentIng.ingredientName" v-model="pantryItems"/>
          <div class="pantry-checkbox__label">{{ parentIng.ingredientName }}</div>
        </label>
      </div>
      <div class="pantry__children" v-if="parentIng.ingredients.length > 0">
        <ul class="pantry__childlist">
          <li class="pantry__childitem"
              v-for="ing in parentIng.ingredients"
              :ing="ing"
              :key="ing.ingredientName"
              :index="ing.ingredientName">
            <label class="pantry-checkbox">
              <input class="pantry-checkbox__input" type="checkbox" :value="ing.ingredientName" v-model="pantryItems" />
              <div class="pantry-checkbox__label">{{ ing.ingredientName }}</div>
            </label>

          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import {
  FETCH_INGREDIENTS,
  INGREDIENTS,
  PANTRY_ITEMS,
  FETCH_PANTRY,
  SAVE_PANTRY,
} from '../store';

export default {
  name: 'pantry',
  created() {
    this.$store.dispatch(FETCH_INGREDIENTS);
    this.$store.dispatch(FETCH_PANTRY);
  },
  computed: {
    pantryItems: {
      get() {
        return this.$store.state[PANTRY_ITEMS];
      },
      set(pantryItems) {
        this.$store.dispatch(SAVE_PANTRY, pantryItems);
      }
    },
    ingredients() {
      let parentIngs = [];

      let ings = this.$store.state[INGREDIENTS];

      for (let i = 0; i < ings.length; i++) {
        let ing = ings[i];
        let parentIng = null;


        for (let j = 0; j < parentIngs.length; j++) {
          if (parentIngs[j].ingredientName === ing.parentIngredientName ||
              parentIngs[j].ingredientName === ing.ingredientName) {
            parentIng = parentIngs[j];
            break;
          }
        }

        if (!parentIng) {
          parentIng = {
            ingredientName: (
              ing.parentIngredientName ? ing.parentIngredientName : ing.ingredientName
            ),
            ingredients: []
          };
          parentIngs.push(parentIng);
        }

        if (ing.parentIngredientName) {
          parentIng.ingredients.push(ing);
        }
      }

      parentIngs.sort((a, b) => {
        if (a.ingredientName === null) {
          return 1;
        }
        if (b.ingredientName === null) {
          return -1;
        }

        let nameA = a.ingredientName.toUpperCase();
        let nameB = b.ingredientName.toUpperCase();
        return nameA.localeCompare(nameB);
      });

      return parentIngs;
    }
  }
};
</script>

<style scoped>
.pantry__parent {

}

.pantry__children {

}

.pantry__childlist {
  margin: 0;
  padding: 0;
  padding-left: 1rem;
  list-style-type: none;
}

label {
  cursor: pointer;
}

.pantry-checkbox {
  display: flex;
  align-items: flex-start;
  margin-bottom: 0.25rem;
}

.pantry-checkbox__input {
  height: 1.25rem;
}

.pantry-checkbox__label {
  line-height: 1.25;
  margin-left: 0.5rem;
}
</style>
