<template>
  <div class="recipes-wrapper">
    <div class="recipes">
      <recipe-card
        v-for="recipe in recipes"
       :recipe="recipe"
       :key="recipe.recipeId"></recipe-card>
    </div>
  </div>
</template>

<style scoped>

.recipes-wrapper{
  margin: 0 auto;
  max-width: 1200px;
}

.recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

</style>

<script>
import { mapState } from 'vuex';
import recipeCard from './recipe-card';
import { FETCH_FAVOURITES, RECIPES } from '../store';

export default {
  name: 'recipes',
  components: { 'recipe-card': recipeCard },
  computed: mapState([
    RECIPES
  ]),
  created() {
    this.$store.dispatch(FETCH_FAVOURITES);
  }
};
</script>
