<template>
  <div class="recipe">
    <div class="recipe-card">
      <div class="banner">
        <img class="main-image" :src="photoUrl(recipe)"/>
      </div>
      <div class="body">
        <div class="title">
          <div class="title__fav">

            <i v-if="!isFavourite"
               @click="addFavourite(recipe.recipeId)"
               class="material-icons is-not-favourite">favorite_border</i>
            <i v-if="isFavourite"
               @click="removeFavourite(recipe.recipeId)"
               class="material-icons is-favourite">favorite</i>

          </div>
          <h1 class="recipe-name">
            {{ recipe.recipeName }}
          </h1>
        </div>
        <div class="catalog">{{ recipe.catalog }}</div>
        <div class="description">{{ recipe.description }}</div>
        <div class="story">{{ recipe.story }}</div>
        <div class="ingredients">
          <h3 class="ingredient-title subtitle">Ingredients</h3>
          <ul class="ingredient-list">
            <li class="ingredient"
                v-for="ingredient in recipe.recipeIngredients"
                :ingredient="ingredient"
                :key="ingredient.name">
              <div class="ingredient-amount">
                {{ formatAmount(ingredient.amount, ingredient.unit) }}
              </div>
              <div class="ingredient-name">{{ ingredient.ingredientName }}</div>
            </li>
          </ul>
        </div>
        <h3 class="directions-title subtitle">Directions</h3>
        <div class="directions">{{ recipe.directions }}</div>
      </div>
    </div>

    <div class="controls">
      <div class="edit" v-if="showEdit">
        <router-link :to="{ name: 'edit-recipe', params: { id: recipe.recipeId, recipeName: recipe.recipeName } }">
          Edit
        </router-link>
      </div>
    </div>
  </div>
</template>

<style scoped>
  .recipe{
    margin: 0 auto 2rem auto;
    max-width: 1000px;
  }
  .recipe-card{
    background-color: white;

    /*box-shadow: 0 2px 4px rgba(180, 180, 180, 0.8);*/
  }
  .main-image{
    width: 100%;
  }
  h1.recipe-name{
    margin: 0;
    line-height: 1em;
  }
  .catalog{
    color: rgb(130, 130, 130);
    line-height: 1.5em;
    margin-bottom: 1rem;
  }
  .body{
    padding: 0 2rem 2rem 2rem;
  }
  .description{
    font-style: italic;
    color: rgb(130, 130, 130);
    line-height: 1.5em;
    margin-bottom: 1rem;
  }
  .subtitle{
    font-family: "Josefin Slab", sans-serif;
    padding: 0;
  }
  .ingredient-list{
    list-style-type: none;
    padding: 0;
  }
  .ingredient{
    padding: 0;
    display: flex;
  }
  .ingredient-amount{
    width: 150px;
  }
  .controls{
    text-align: right;
    margin: 0 1rem;
  }
  .title{
    display: flex;
    align-items: center;
    padding: 1em 0 0 0;
  }
  .title__fav{
    margin-right: 0.5rem;
  }
  .title__fav i{
    font-size: 1.5rem;
    cursor: pointer;
  }
  .is-not-favourite{
    color: rgb(130, 130, 130);
  }
  .is-favourite{
    color: #dc3545;
  }
</style>

<script>
import { API } from '../lib/apiclient';
import { photoUrl } from '../lib/util';
import { ADD_FAVOURITE, FAVOURITES, FETCH_FAVOURITES, IS_ADMIN, REMOVE_FAVOURITE } from '../store';


export default {
  props: ['id'],
  data() {
    return {
      recipe: {},
      photoUrl
    };
  },
  computed: {
    showEdit() {
      return this.$store.getters[IS_ADMIN];
    },
    isFavourite() {
      if (!this.recipe) {
        return false;
      }
      let favs = this.$store.state[FAVOURITES];
      for (let i = 0; i < favs.length; i++) {
        if (favs[i] === this.recipe.recipeId) {
          return true;
        }
      }
      return false;
    }
  },
  watch: {
    $route: 'fetchRecipe'
  },
  created() {
    this.fetchRecipe();
    this.$store.dispatch(FETCH_FAVOURITES);
  },
  methods: {
    addFavourite(recipeId) {
      this.$store.dispatch(ADD_FAVOURITE, recipeId);
    },
    removeFavourite(recipeId) {
      this.$store.dispatch(REMOVE_FAVOURITE, recipeId);
    },
    async fetchRecipe() {
      this.recipe = await API.getRecipe(this.$route.params.id);
    },
    formatAmount(amount, unit) {
      const formattedUnit = unit || '';
      const formattedAmount = amount || '';

      if (amount === 1) {
        return `${formattedAmount} ${this.singleize(formattedUnit)}`;
      }
      return `${formattedAmount} ${this.pluralize(formattedUnit)}`;
    },
    singleize(unit) {
      const map = { ounce: 'oz' };
      if (unit in map) {
        return map[unit];
      }
      return unit;
    },
    pluralize(unit) {
      const map = {
        ounce: 'oz',
        dash: 'dashes',
        splash: 'splashes',
        slice: 'slices',
        leaf: 'leaves',
        sprig: 'sprigs',
        cube: 'cubes',
        drop: 'drops',
        teaspoon: 'teaspoons',
        tablespoon: 'tablespoons',
        cup: 'cups'
      };
      if (unit in map) {
        return map[unit];
      }
      return unit;
    }
  }
};
</script>

