<template>
  <div class="recipe-search">
    <h2>Search Recipes</h2>
    <div class="search-fields">
      <form>
      <div class="search-field">
        <input class="search-input basic" type="text" ref="searchInput"
               placeholder="Search..."
               v-model="q"
               @change="change"/>
      </div>
      <div class="search-field">
        <multiselect class="search-input ingredients"
                     v-model="ingredients"
                     :options="ingredientOptions"
                     :multiple="true"
                     deselectLabel=""
                     selectLabel=""
                     placeholder="Ingredients..."
                     @search-change="change"
                     @select="change"
                     @remove="change"
                     @input="change">
        </multiselect>
      </div>
      <div class="search-field">
        <label class="checkbox">
          <input class="in-pantry checkbox__input" type="checkbox" v-model="inPantry" @change="change"/>
          <div class="checkbox__label">Made with pantry ingredients</div>
        </label>
      </div>
      <div class="search-field search-buttons">
        <button type="submit"
                :class="{ ['search-button']: true, submit: true, highlight: highlightSubmit }"
                @click.prevent="submit">
          Search
        </button>
        <button type="reset" class="search-button reset" @click.prevent="reset">
          Clear
        </button>
      </div>
      </form>
    </div>
  </div>
</template>

<script>
import Multiselect from 'vue-multiselect';
import { FETCH_INGREDIENTS, INGREDIENT_OPTIONS, PANTRY_ITEMS } from '../store';


export default {
  name: 'recipe-search',
  components: { Multiselect },
  props: ['searchQuery'],
  created() {
    this.$store.dispatch(FETCH_INGREDIENTS);
  },
  mounted() {
    this.$refs.searchInput.focus();

    let initialSearch = this.searchQuery;
    if (initialSearch.q) {
      this.q = initialSearch.q;
    }
    if (initialSearch.pantry) {
      this.inPantry = true;
    }
    if (initialSearch.ingredients) {
      this.ingredients = initialSearch.ingredients;
    }
  },
  computed: {
    ingredientOptions() {
      return this.$store.getters[INGREDIENT_OPTIONS];
    },
    pantryItems() {
      return this.$store.state[PANTRY_ITEMS];
    }
  },
  data() {
    return {
      ingredients: null,
      inPantry: false,
      q: null,
      highlightSubmit: false
    };
  },
  methods: {
    buildSearch() {
      let newSearchQuery = {
        q: this.q,
        ingredient: this.ingredients
      };
      if (this.inPantry) {
        newSearchQuery.pantry = this.pantryItems;
      }
      return newSearchQuery;
    },
    change() {
      this.highlightSubmit = true;
      this.$emit('change', this.buildSearch());
    },
    submit() {
      this.highlightSubmit = false;
      this.$emit('submit', this.buildSearch());
    },
    reset() {
      this.highlightSubmit = false;
      this.ingredients = null;
      this.inPantry = false;
      this.q = null;
      this.$emit('submit', {});
    }
  }
};
</script>


<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
// Can't be scoped style due to multi-select overrides
<style>

.recipe-search h2{
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.recipe-search{
  width: 100%;
}

.search-fields{
  display: flex;
  flex-direction: column;
}

.search-field{
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.search-input{
  width: 100%;

  font-family: inherit;
}

.search-buttons{
  display:flex;
  justify-content: space-between;
}

.search-button{
  font-family: "Raleway", sans-serif;
  font-size: 0.75rem;
  padding: 0 1rem;
  cursor: pointer;
  width: 100%;
}

.search-button:focus {
  outline: none;
}

.search-button.submit{
  margin-right: 0.5rem;
}

.search-button.submit.highlight {
  box-shadow: 0 2px 4px 0 rgba(75, 75, 75, 0.5);
}

.search-button.reset{
  margin-left: 0.5rem;
}

.checkbox {
  color: #9EA0A3;
  font-size: 1rem;
  user-select: none;
  display: flex;
}

.checkbox__label {
  margin-left: 1rem;
  line-height: 1;
}

.recipe-search .in-pantry:focus{
  outline: none;
}

.recipe-search .in-pantry{

}

.recipe-search .basic{
  font-family: "Raleway", sans-serif;
  font-size: 1rem;

  border: 1px solid #a8a8a8;
  border-radius: 5px;
  padding: 0 0.5rem;
}

.multiselect__tags{
  font-family: "Raleway", sans-serif;

  border: 1px solid #a8a8a8;
}

.multiselect__single{
  padding-top: 0.25rem;
  font-size: 1rem;
  /*line-height: 1rem;*/
  color: #9EA0A3;
}

.multiselect__select{
  line-height: 1rem;
}

.multiselect__tag{
  font-family: "Raleway", sans-serif;
  background-color: rgb(92, 92, 92);
}

.multiselect__tag-icon::after{
  color: rgb(192, 192, 192);
}

.multiselect__tags-wrap{
  line-height: 1rem;
}

@media only screen and (max-width : 480px) {
  .search-input.ingredients {
    display: none;
  }
}
</style>
