<template>
  <div class="card">
    <div class="card__banner">
      <router-link class="title-link"
                   :to="{ name: 'recipe', params: { id: recipe.recipeId, recipeName: recipe.recipeName } }">
        <img class="main-image" :src="thumbnailUrl" />
      </router-link>
    </div>
    <div class="card__content">
      <div class="card__title">
        <h2 class="title">
          <router-link class="title-link"
                       :to="{ name: 'recipe', params: { id: recipe.recipeId, recipeName: recipe.recipeName } }">
            {{ recipe.recipeName }}
          </router-link>
        </h2>
        <div class="catalog">
          {{ recipe.catalog }}
        </div>
      </div>
      <div class="card__body">
        <div class="description">
          {{ recipe.description }}
        </div>
        <div class="ingredients-summary" v-if="mainIngredients.length > 0">
          <div class="main-ing-title">
            Includes
          </div>
          <div class="main-ing-item"
               v-for="mainIng in mainIngredients"
               :key="mainIng.ingredientName"
               :mainIn="mainIng">
            {{ mainIng.ingredientName }}
          </div>
        </div>
        <div class="missing-pantry" v-if="missingIngredients.length > 0">
          <div class="missing-pantry-title">
            Missing from Pantry
          </div>
          <div class="missing-item"
             v-for="missingIng in missingIngredients"
             :key="missingIng"
             :missingIng="missingIng">
            {{ missingIng }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { DEFAULT_VESSEL_IMAGE, VESSEL_IMAGES } from '../lib/constants';

export default {
  name: 'recipe-card',
  props: ['recipe'],
  computed: {
    thumbnailUrl() {
      if (this.recipe.thumbnailUrl) {
        return this.recipe.thumbnailUrl;
      }
      if (this.recipe.vessel in VESSEL_IMAGES) {
        return VESSEL_IMAGES[this.recipe.vessel];
      }
      return DEFAULT_VESSEL_IMAGE;
    },

    pantryItems() {
      return this.$store.state.pantryItems;
    },

    recipeIngredients() {
      return this.recipe.recipeIngredients;
    },

    missingIngredients() {
      if (!this.pantryItems || (this.pantryItems && this.pantryItems.length === 0)) {
        return [];
      }

      let missingIngredients = [];
      for (let i = 0; i < this.recipeIngredients.length; i++) {
        let recipeIngredient = this.recipeIngredients[i];
        if (
          !recipeIngredient.optional && !recipeIngredient.garnish &&
          this.pantryItems.indexOf(recipeIngredient.ingredientName) === -1 &&
          this.pantryItems.indexOf(recipeIngredient.parentIngredientName) === -1
        ) {
          missingIngredients.push(recipeIngredient.ingredientName);
        }
      }

      let missingLength = missingIngredients.length;
      if (missingLength > 4) {
        missingIngredients.splice(3, missingLength - 3);
        missingIngredients.push(`…and ${missingLength - 3} others`);
      }

      return missingIngredients;
    },
    mainIngredients() {
      let mainIngs = [];
      for (let i = 0; i < this.recipeIngredients.length && mainIngs.length < 3; i++) {
        let recipeIngredient = this.recipeIngredients[i];
        if (!recipeIngredient.garnish && !recipeIngredient.optional) {
          mainIngs.push(recipeIngredient);
        }
      }
      return mainIngs;
    }
  }
};
</script>

<style scoped>

.card{
  width: 320px;
  max-width: 400px;
  min-width: 120px;

  margin: 2rem 1rem;
}

.card:hover .title-link{
  text-decoration: underline;
  color: #004f9d;
}

.card__banner{
  height:200px;
}

.card__content{
  padding: 1rem;
}

.main-image{
  width: 100%;
}

.title{
  font-family: "Josefin Slab", sans-serif;
  text-align: center;

  font-size: 1.5rem;
  line-height: 2rem;

  padding: 0;
  margin: 0 0 0 0;

}

.catalog{
  min-height: 0.75rem;
  text-align: center;
  font-size: 0.75rem;
  line-height: 1em;
  color: rgb(120, 120, 120);

}

.description{
  line-height: 1.5rem;
  color: rgb(120, 120, 120);
  text-align: center;
}

.missing-pantry-title, .main-ing-title{
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1rem;
  color: rgb(120, 120, 120);
  margin-top: 0.5rem;

}
.missing-item, .main-ing-item{
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(120, 120, 120);
}
</style>
