<template>
  <div class="app">
    <app-header :title="title"></app-header>

    <div class="sidebar">
      <recipe-search :searchQuery="searchQuery" @submit="search"></recipe-search>
      <ingredient-pantry @changed="pantryChanged"></ingredient-pantry>
    </div>

    <div class="body">
      <div class="body__header">

        <breadcrumbs></breadcrumbs>

      </div>

      <div class="search-panel">
        <recipe-search :searchQuery="searchQuery" @submit="search"></recipe-search>
      </div>

      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import { APP_TITLE } from '@/lib/constants';
import { SEARCH_RECIPES, SEARCH } from './store';
import appheader from './components/app-header';
import breadcrumbs from './components/breadcrumbs';
import recipesearch from './components/recipe-search';
import pantryselect from './components/pantry-select';

export default {
  name: 'barchef-app',
  components: {
    'app-header': appheader,
    'recipe-search': recipesearch,
    'ingredient-pantry': pantryselect,
    breadcrumbs
  },
  created() {
    this.$store.dispatch(SEARCH_RECIPES, this.searchQuery);
  },
  computed: {
    searchQuery() {
      return this.$store.state[SEARCH];
    }
  },
  data() {
    return {
      title: APP_TITLE,
      recipes: [],
      sidebarOpen: false
    };
  },
  methods: {
    search(searchQuery) {
      // TODO: show loading animation
      this.$store.dispatch(SEARCH_RECIPES, searchQuery).then(() => {
        this.$router.push({ name: 'recipes' });
      });
    },

    pantryChanged() {
      if (this.searchQuery.pantry) {
        this.$store.dispatch(SEARCH_RECIPES, this.searchQuery);
      }
    },

  },
};
</script>

<style>
@import 'assets/css/bundle.css';

.app{
  display: grid;

  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0;
  grid-auto-rows: 1fr auto;
}

header{
  grid-column: 1/5;
  grid-row: 1;
}

.sidebar{


  border-right: 1px solid rgb(200, 200, 200);
}

.sidebar .recipe-search {
  border-bottom: 1px solid rgb(200, 200, 200);
}

.pantry{
  margin-top: 1rem;
}

.body{
  grid-row: 2;

}

.body__header {
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width : 481px) {
  .body{
    grid-column: 2/5;
    padding: 0 2rem 1rem 2rem;
  }

  .sidebar{
    grid-column: 1;
    grid-row: 2;
  }

  .search-panel {
    display: none;
  }
}

@media only screen and (max-width : 480px) {
  .body{
    grid-column: 1/5;
    padding: 0 0.5rem 1rem 0.5rem;
  }

  .search-panel .recipe-search h2 {
    text-align: center;
  }

  .search-panel {
    border: 1px solid rgb(200, 200, 200);
    border-radius: 8px;
  }
}


</style>
