
/*
Dark Red #4D1504
Dark Orange #93360B
Brown #7F4A20
Orange-Brown #AC5A2A
Orange #BD733E
Tan #CBC498
Dark Tan #BAAA80
Grey-Green #919C8B
Blue-Green #7B8E8C
Dark Grey-Green #7A7C6E
*/


html {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.75em;
  color: rgb(68, 68, 68);

  box-sizing: border-box;
}

/* If an element declares it's using a different sizing,
   then child elements will now inherit that sizing.
*/
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  height: 100%;

}

body {
  margin: 0;
}

.content-wrapper {
  margin-left: 1rem;
  margin-right: 1rem;
}

.content {
  width: 100%;
  max-width: 960px;
  margin: 0 auto 5rem auto;
}

a,
a:visited {
  color: rgb(37, 122, 196);
  text-decoration: none;
  outline: none;
}

a:active {
  color: rgb(29, 95, 151);
  text-decoration: none;
  outline: none;
}

button:focus{
  outline: none;
}

a:hover {
  color: rgb(29, 95, 151);
  cursor: pointer;
  text-decoration: underline;
}

a.header__link {
  color: rgb(68, 68, 68);
}

a.header__link:hover {
  /* Link underline that clears descenders */
  color: rgb(68, 68, 68);
  /* Shadow is same colour as background. */
  text-shadow: 3px 0 #ffffff, 2px 0 #ffffff, 1px 0 #ffffff, -1px 0 #ffffff, -2px 0 #ffffff, -3px 0 #ffffff;
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.6) 50%);
  background-repeat: repeat-x;
  background-size: 1px 9px;
  background-position: 0 3.9rem;
}

h1, h2, h3, h4 {
  font-family: "Josefin Slab", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 3rem;
  padding: 0;
  margin: 2rem 0 0 0;
}

h2 {
  font-size: 1.25rem;
  margin-top: 1.25rem;
  line-height: 1.75rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: 1.25rem;
  line-height: 1.75rem;
}

textarea, select, input{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.75em;
  color: rgb(68, 68, 68);

  padding: 0 0.5rem;
}

input[type="text"], input[type="number"], textarea{
  border: 1px solid rgb(200, 200, 200);
  border-radius: 4px;
}

input[type="file"], button{
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 1.75em;
  color: rgb(68, 68, 68);
  font-weight: normal;
}

